In [19]:
import camelot
import pandas as pd

In [20]:
tables = camelot.read_pdf("01012020.pdf", pages="all")

In [60]:
df = tables[0].df
df = df[2:]
for i in range(1, 7):
    df1 = tables[i].df
    df1 = df1[2:]
    df = pd.concat([df,df1], axis=0)

In [61]:
df = df[9:]

In [62]:
df

,0,1,2,3,4,5,6,7,8,9,10
9,S.,NAME OF THE,ARRIVAL,VARIETY,WEIGHT,,,TYPE OF GRADE,Wholesale Prices,,
10,NO. COMM. & STATE,,IN TONS,,IN KG.,,PACKING SIZE,,MINI,MAXI,MODAL
11,1,APPLE,3535.2,,,,,,,,
12,,KINNAUR (CS),,ROYAL DELICIOUS,10,KG.,C.BOX,A,1000,1100,1100
13,,,,,10,KG.,C.BOX,B,800,900,850
...,...,...,...,...,...,...,...,...,...,...,...
50,,1. PRICE RELATES TO THE PRICE RANGE DURING THE...,,,,,,,,,
51,,2. FIGURES SHOWN AFTER THE COMMODITY NAME DENO...,,,,,,,,,
52,,3. NC. = NEW CROP. CS = COLD STORE . OC...,,,,,,,,,
53,,4. MODAL RATES ARE THOSE RATES ON WHICH MAJOR ...,,,,,,,,,
54,,*RATES RELATES TO THE PREVIOUS DAY.,,,,,,,,,

In [63]:
df.columns = ['S.NO', 'NAME', 'ARRIVAL_IN_TONS', 'VARIETY', 'WEIGHT_IN_KG','KG', 'PACKING_SIZE', 'TYPE_OF_GRADE', 'MIN_PRICE', 'MAX_PRICE', 'MODAL_PRICE']

In [64]:
df.drop(['KG'], axis=1)

,S.NO,NAME,ARRIVAL_IN_TONS,VARIETY,WEIGHT_IN_KG,PACKING_SIZE,TYPE_OF_GRADE,MIN_PRICE,MAX_PRICE,MODAL_PRICE
9,S.,NAME OF THE,ARRIVAL,VARIETY,WEIGHT,,TYPE OF GRADE,Wholesale Prices,,
10,NO. COMM. & STATE,,IN TONS,,IN KG.,PACKING SIZE,,MINI,MAXI,MODAL
11,1,APPLE,3535.2,,,,,,,
12,,KINNAUR (CS),,ROYAL DELICIOUS,10,C.BOX,A,1000,1100,1100
13,,,,,10,C.BOX,B,800,900,850
...,...,...,...,...,...,...,...,...,...,...
50,,1. PRICE RELATES TO THE PRICE RANGE DURING THE...,,,,,,,,
51,,2. FIGURES SHOWN AFTER THE COMMODITY NAME DENO...,,,,,,,,
52,,3. NC. = NEW CROP. CS = COLD STORE . OC...,,,,,,,,
53,,4. MODAL RATES ARE THOSE RATES ON WHICH MAJOR ...,,,,,,,,
54,,*RATES RELATES TO THE PREVIOUS DAY.,,,,,,,,

In [65]:
df = df.drop(df.index[0:2], axis=0)

In [66]:
df.to_csv("01012020.csv")